{% extends "layout.html" %}

{% block title %}
Få böcker efter ämne
{% endblock %}

{% block content %}
<h3>Få böcker efter ämne!</h3>
<p>Bara engelska ord tas i.</p>

<form method="post" action="/books_form">
    <label for="topic">Vad är du intresserad av?</label>
    <div class="input-group mb-3">
        <input type="text" id="topic" name="topic" class="form-control" value="humor">
    </div>

    <button type="submit" class="btn btn-primary">Skicka</button>
</form>

{{data | safe}}

<a href="/books" class="btn btn-secondary">Böcker</a>
<a href="/books_form" class="btn btn-secondary">Form</a> 

{% endblock %}